.AddList{
    margin-top: 10px;
    width: 100%;
    height: 100px;
    background-color: var(--nav1);
    border-radius: 10px;
}
.TitleAddUser{
    text-align: center;
    color: var(--text1);
}
#FormPost {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text1);
}
